@{
    ViewData["Title"] = "Remote Folder";
}

<h2>Remote Folder</h2>

<div ng-app="pnRemoteFolder" ng-controller="RemoteFodlerController">
    <form method="post" action="/api/remote-image-folder" enctype="multipart/form-data">
        <input type="file" name="files" multiple pn-on-change="fileInputChange" />
        <input type="submit" value="Upload" />
    </form>

    <div ng-repeat="item in queue">
        {{item.fileName}}
    </div>

    <div ng-repeat="item in files">
        <div>{{item.FileName}}</div>
        <div>
            <img alt="{{item.FileName}}" title="{{item.FileName}}" ng-src="{{item.ClientUrl}}" style="max-width: 100px;" />
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/phantomnet-resource/dist/phantomnet-resource.js"></script>

    <script>
        (function () {

            'use strict';

            var app = angular.module('pnRemoteFolder', [
                'pnResource'
            ]);

            app.directive('pnOnChange', function () {
                return {
                    restrict: 'A',
                    link: function (scope, element, attrs) {
                        var handler = scope.$eval(attrs.pnOnChange);
                        element.on('change', handler);
                    }
                };
            });

        })();

        (function () {

            'use strict';

            var controllers = angular.module('pnRemoteFolder');

            controllers.controller('RemoteFodlerController', ['$scope', 'RemoteFolderResource',
                function ($scope, RemoteFolderResource) {
                    $scope.queue = [];
                    $scope.files = [];

                    $scope.fileInputChange = function () {
                        console.log(arguments);
                    };

                    RemoteFolderResource.query(function (data) {
                        $scope.files = data;
                    });
                }
            ]);

        })();

        (function () {

            'use strict';

            var services = angular.module('pnRemoteFolder');

            services.factory('RemoteFolderResource', ['Resource',
                function (Resource) {
                    return Resource('/api/remote-image-folder/:id', { id: "@@Id" });
                }
            ]);

        })();
    </script>
}