@model PhantomNet.Blog.Mvc.IIndexViewModel
@{ 
    ViewData["Title"] = Model.Title;
}

<h1>
    @Model.Title
</h1>

@foreach(var item in Model.Articles)
{
    <article>
        <h2>@item.Title</h2>
        <p>@item.ShortContent</p>
    </article>
}
